/* Style for the form */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#multistepForm {
    background-color: #f2f2f2;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Hide all steps by default */
.step {
    display: none;
}

/* Style the buttons */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

/* Style the "Previous" button */
#prevBtn {
    background-color: #bbbbbb;
}

/* Step circles */
.stepCircle {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
}

.active {
    background-color: #4CAF50;
}

.finish {
    background-color: #4CAF50;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
  }